# This is how mandrills are sent, 24x7 way.
define notificationway{
   notificationway_name            detailled-mandrill
   service_notification_period     24x7
   host_notification_period        24x7
   service_notification_options    c,w,r
   host_notification_options       d,u,r,f,s
   service_notification_commands   detailled-service-by-mandrill ; send service notifications via mandrill
   host_notification_commands      detailled-host-by-mandrill    ; send host notifications via mandrill
}

# This is how mandrills are sent, 24x7 way.
define notificationway{
       notificationway_name            mandrill
       service_notification_period     24x7
       host_notification_period        24x7
       service_notification_options    c,w,r
       host_notification_options       d,u,r,f,s
       service_notification_commands   notify-service-by-mandrill ; send service notifications via mandrill
       host_notification_commands      notify-host-by-mandrill    ; send host notifications via mandrill
}

